body {
    margin-left: 100px;
    font-family: Verdana,Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;

}

h1 {    
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    color: #222;
}
a {
    color:#33C3F0;
  }
