<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | relative_url }}" type="text/css">

    {% seo %}
    <meta name="geo.region" content="AU-NSW" />
    <meta name="geo.placename" content="Sydney" />
    <meta name="geo.position" content="-33.854816;151.216454" />
    <meta name="ICBM" content="-33.854816, 151.216454" />

  </head>
  <body>
    {{ content}}
  </body>
</html>
